body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: brown;
    width: 100%;
    height: 1000px;
    background: #eab92d;
    background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1);
    overflow-x: hidden;
}

.note{
    width: 200px;
    height: 200px;
    background: #fff740;
    box-shadow: 2px 2px 15px #888888;
    position: absolute;
}

.note:hover{
    box-shadow: 2px 2px 15px black;
}

.rotate{
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}

.rotate_right {
    float: left;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}

.rotate_left {
    float: left;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Safari */
    transform: rotate(-8deg);
}

.caption{
    color: #888;
    padding: 65px 35px 35px 35px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
    from {left: 0px;}
    to {left: 300px;}
}

/* Standard syntax */
@keyframes move {
    from {left: 0px;}
    to {left: 300px;}
}